APP_ENV=local
APP_DEBUG=false

PHP_XDEBUG=false
PHP_XDEBUG_MODE=debug
PHP_XDEBUG_CLIENT_HOST=
PHP_XDEBUG_CLIENT_PORT=9000
PHP_XDEBUG_START_WITH_REQUEST=yes
PHP_XDEBUG_IDEKEY=DOCKER_XDEBUG
PHP_XDEBUG_OUTPUT_DIR=/var/www/html/storage/logs
